.pomodoro-container{
	background-color: var(--primary-color);
	border-radius:15px;
	grid-column-start:2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.pomodoro-timer{
	font-size:100px;
	color: var(--light-shade)
}
.flex-item-right{
	align-self:flex-end;
}
