.custom-button {
	background-color: var(--dark-accent);
  border-color: var(--dark-shade);
	font-size: x-large;
  width:max-content;
}
.custom-button:hover {
  background-color: var(--light-accent);
  border-color: black;
}
.centered-row {
  justify-content: center;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.main {
  display : flex;
  flex-direction: column;
}

body {
  background-color: var(--light-shade);
}
